.landingPageContainer{
  height: 100vh;
  width: 100vw;
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.landingPageContainer nav{
  padding-top: 1.8rem;
  padding-left: 1.2rem;
  display: flex;
  justify-content: space-between;
}


.landingPageContainer nav h2{
  font-size: 1.8rem;
  font-weight: 600;
  padding-left: 2rem;
  cursor: pointer;
}

.nav-list{
  display: flex;
  font-size: 1.4rem;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding-right: 5rem;
  cursor: pointer;
}

.landingPage-body{
  display: flex;
  padding-inline: 3rem;
  justify-content: space-between;
  height: 80vh;
  align-items: center;
}

.landingPage-body > div:nth-child(1){
  font-size: 1.8rem;
}

.landingPage-body > div:nth-child(1) div[role='button']{
  background-color: #FF9839;
  width: fit-content;
  padding: 1rem;
  border-radius: 18px;
  margin-top: 1.5rem;
}

.landingPage-body > div:nth-child(1) div[role='button'] a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.landingPage-body > div:nth-child(2) img{
  height: 60vh;
  width: auto;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
