.landingPageContainer{
  height: 100vh;
  width: 100vw;
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.landingPageContainer nav{
  padding-top: 1.8rem;
  padding-left: 1.2rem;
  display: flex;
  justify-content: space-between;
}


.landingPageContainer nav h2{
  font-size: 1.8rem;
  font-weight: 600;
  padding-left: 2rem;
  cursor: pointer;
}

.nav-list{
  display: flex;
  font-size: 1.4rem;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding-right: 5rem;
  cursor: pointer;
}

.landingPage-body{
  display: flex;
  padding-inline: 3rem;
  justify-content: space-between;
  height: 80vh;
  align-items: center;
}

.landingPage-body > div:nth-child(1){
  font-size: 1.3rem;
}

.landingPage-body > div:nth-child(1) div[role='button']{
  background-color: #FF9839;
  width: fit-content;
  padding: 0.8rem;
  border-radius: 18px;
  margin-top: 1.5rem;
  font-weight: 900;
}

.landingPage-body > div:nth-child(1) div[role='button'] a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.landingPage-body > div:nth-child(2) img{
  height: 60vh;
  width: auto;
}